.card-red-style {
  background: var(--bg-card);
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3581rem;
  width: 18.7488rem;
  height: 100%;
  padding: 30px 15px;
}

.info-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-details {
  color: var(--text);
}

