@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.search-filter-wrapper {
  margin: 0 auto;
  width: 72.5rem;
  padding-bottom: 4%;
}

.car-gallery {
  display: flex;
  flex-wrap: wrap;
  width: 72.5rem;
  gap: 1.25rem;
  margin: 0 auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.25rem;
}

.page-item {
  margin: 0 0.625rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: var(--about-text);
  font-size: 1.5rem;
}

.previous-button,
.next-button {
  margin: 0 1.625rem;
}

.footer-catalog {
  margin-top: 15rem;
}

.catalog-category-links {
  display: flex;
  width: 72.5rem;
  margin: 0 auto;
  padding-bottom: 1.5625rem;
}

.catalog-category-links button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  margin-right: 4%;
  cursor: pointer;
  padding-bottom: 0.3125rem;
  border-bottom: 0.125rem solid transparent;
}

.catalog-category-links button.active-btn {
  color: var(--button-color);
  border-bottom: 0.125rem solid var(--button-color);
}

@media (max-width: 600px) {
  .search-filter-wrapper {
    display: none;
  }

  .car-gallery,
  .catalog-category-links {
    width: 100%;
    padding: 0 1rem;
  }

  .car-gallery {
    gap: 0.625rem;
  }

  .catalog-card {
    width: calc(50% - 0.3125rem);
    height: auto;
    min-width: 150px;
  }

  .catalog-category-links button {
    font-size: 1.5rem;
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .page-item {
    font-size: 1.25rem;
  }

  .catalog-category-links button {
    font-size: 1.5rem;
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .page-item {
    font-size: 1.25rem;
  }

  .previous-button,
  .next-button {
    margin: 0 1rem;
    background-color: var(--button-color);
    color: var(--text);
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.3125rem;
  }
}

@media (max-width: 320px) {
  .catalog-card {
    width: 100%;
    min-width: unset;

    .previous-button,
    .next-button {
      width: 2rem;
      height: 2rem;
    }

    .page-item {
      font-size: 1rem;
    }
  }
}
