@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.catalog-card {
  width: 16.8681rem;
  height: 28.2056rem;
  border: 1px solid #ccc;
  text-align: left;
  border-bottom-right-radius: 0.3125rem;
  border-bottom-left-radius: 0.3125rem;
  background: var(--bg-gradient);
  font-family: "Inter", sans-serif;
  position: relative;
}

.catalog-brand {
  font-weight: 500;
  font-size: 1.1169rem;
  color: var(--text);
  line-height: 1.3519rem;
  padding: 0.625rem;
}

.catalog-card img {
  width: 100%;
  height: auto;
}

.catalog-icon-heart {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  color: var(--button-color);
  width: 2.0106rem;
  height: 2.0106rem;
}

.full-heart {
  position: absolute;
  top: 0.625rem;
  right: 0.625rem;
  width: 2.0106rem;
  height: 2.0106rem;
  color: var(--button-color);
}

.catalog-info {
  padding: 0 0.625rem;
  font-weight: 400;
  line-height: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalog-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.625rem;
  border-top: 1px solid black;
  margin-top: 10px;
}

.catalog-price {
  color: var(--text);
  font-weight: 500;
  font-size: 1.1169rem;
}

.catalog-button {
  font-size: 0.8938rem;
  border: none;
  padding: 20px;
  cursor: pointer;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
}

.catalog-icon {
  margin-left: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.pagination-active a {
  color: var(--button-color);
  border-bottom: 0.125rem solid var(--button-color);
  font-size: 2rem;
}

@media (max-width: 600px) {
  .catalog-card {
    width: 15.8681rem;
    height: 26.2056rem;
    
  }
}