@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.contact-us-container {
  display: flex;
  background: var(--bg-gradient);
  padding: 20px;
  border-radius: 5px;
  font-family: "Tahoma", sans-serif;
  width: 1160px;
  height: 687px;
  margin: 0 auto;
  padding: 50px;
  margin-bottom: 100px;
  position: relative;
  margin-top: 90px; /* temporary style*/
}




/* .popup.error::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
} */

.contact-info h2 {
  color: var(--text);
  font-size: 48px;
}

.contact-us {
  width: 282px;
  height: 58px;
}

.contact-details {
  width: 271px;
  height: 242px;
  margin-top: 30px;
}

.contact {
  display: flex;
  align-items: center;
 
  padding: 15px 0;
  font-weight: 400;
 
}

.address {
  line-height: 1;
}

.contact-info .contact {
  font-weight: 400;
  color: var(--text);
  font-size: 20px;
}

.contact-icon {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}

.contact-info {
  flex: 1;
  margin-left: 20px;
  
}

.contact-info h2 {
  margin-bottom: 20px;
}

.contact-info p {
  margin: 5px 0;
}

.media-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 165px;
  height: 41px;
  padding: 2rem 0;
}

.instagram {
  width: 24px;
  height: 24px;
}

.twitter {
  width: 27px;
  height: 27px;
}

.facebook {
  width: 25px;
  height: 25px;
}

.youtube {
  width: 29px;
  height: 29px;
}

