.contact-us-container {
  display: flex;
  background: var(--bg-gradient);
  padding: 1.25rem;
  border-radius: 0.3125rem;
  font-family: "Tahoma", sans-serif;
  max-width: 72.5rem;
  max-height: 42.9375rem;
  margin: 0 auto;
  padding: 3.125rem;
  margin-bottom: 6.25rem;
  position: relative;
  margin-top: 90px; /* temporary style*/
}

/* .popup.error::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
} */

@media (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }

  .contact-us-container {
    padding: 1rem;
    max-height: 24.125rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-left: 0;
    height: 100vh;
  }
}
