.contact-us-container {
  display: flex;
  background: var(--bg-gradient);
  padding: 1.25rem;
  border-radius: 0.3125rem;
  font-family: "Tahoma", sans-serif;
  max-width: 72.5rem;
  max-height: 42.9375rem;
  margin: 0 auto;
  padding: 3.125rem;
  margin-bottom: 6.25rem;
  position: relative;
}

.contact-us-card-desktop {
  margin-right: 15%;
}

@media (max-width: 800px) {
  .hide-on-mobile {
    display: none;
  }

  .contact-us-container {
    padding: 1rem;
    max-height: 24.125rem;
    margin-bottom: 6.25rem;
    margin-left: 0;
    margin-left: 0;
    height: 100vh;
  }
}
