.favorite-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 70.2163rem;
}

.favorite {
  width: 70.2163rem;
  margin: 0 auto;
}

.favorite-title {
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 3rem;
  margin-bottom: 1.875rem;
}

.favorite-wrapper {
  width: 70.2163rem;
  height: 76.4375rem;
  margin: 0 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.favorite-wrapper::-webkit-scrollbar {
  width: 0.3rem;
}

.favorite-wrapper::-webkit-scrollbar-track {
  background: var(--menu-text);
}

.favorite-wrapper::-webkit-scrollbar-thumb {
  background: var(--about-text);
  border-radius: 0.25rem;
}
