.feature-card {
  line-height: 1.8106rem;
  padding: 0.8rem;
  margin: 0.625rem;
}

.card-icon img {
  width: 3.125rem;
  height: 3.125rem;
}

.feature-card .card-heading {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--about-text);
  margin-bottom: 1.25rem;
}

.feature-card .card-title {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.3581rem;
  color: var(--menu-text);
}

@media (max-width: 800px) {
  .feature-card {
    width: 9.8125rem;
    height: 6.2538rem;
    padding: 0;
    margin: .625rem;
  }

  .card-icon img {
    width: 1.9019rem;
    height: 1.9019rem;
  }

  .feature-card .card-heading {
    font-size: 0.875rem;
    line-height: 1.0562rem;
    margin-bottom: .5rem;
  }

  .feature-card .card-title {
    font-size: .75rem;
    line-height: .905rem;
    
  }
}
