.hero-section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../../src/assets/img/main-image.jpg");
  background-size: cover;
  background-position: center;
}

.hero-content {
  position: absolute;
  top: 4%;
}

.hero-content__text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  margin-top: 5rem;
  padding-left: 10rem;
}

.hero-content__text .title {
  font-size: 4rem;
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  color: var(--heading-text);
  line-height: 5.2rem;
  margin-top: 1rem;
  margin-bottom: 2.3rem;
}

.hero-content__text .sub-title {
  font-size: 1.25rem;
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  line-height: 2rem;
  color: var(--heading-text);
  margin-bottom: 4rem;
}

.search-panel-mobile {
  display: none;
}

@media (max-width: 1000px) {
  .search-panel-desktop {
    display: none;
  }

  .search-panel-mobile {
    display: block;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
  }
  .hero-section {
    background-position: 90%;
  }

  .hero-content {
    top: 5%;
  }

  .hero-content__text {
    padding: 0 2rem 2rem 2rem;
    margin-top: 3.5rem;
    padding: 1rem 1rem;
  }

  .hero-content__text .title {
    margin: 0;
    line-height: 2.4281rem;
    margin-bottom: 0.625rem;
    font-size: 2.0119rem;
  }

  .hero-content__text .sub-title {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 800px) {
  .search-panel-desktop {
    display: none;
  }

  .hero-section {
    background-position: 90%;
  }

  .hero-content {
    top: 5%;
  }

  .hero-content__text {
    padding: 0 2rem 2rem 2rem;
    margin-top: 3.5rem;
    padding: 1rem 1rem;
  }

  .hero-content__text .title {
    margin: 0;
    line-height: 2.4281rem;
    margin-bottom: 0.625rem;
    font-size: 2.0119rem;
  }

  .hero-content__text .sub-title {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }
}

@media (max-width: 600px) {
  .hero-section {
    background-position: 90%;
  }

  .hero-content {
    top: 5%;
  }

  .hero-content__text {
    padding: 0 2rem 2rem 2rem;
    margin-top: 3.5rem;
    padding: 1rem 1rem;
  }

  .hero-content__text .title {
    margin: 0;
    line-height: 2.4281rem;
    margin-bottom: 0.625rem;
    font-size: 2.0119rem;
  }

  .hero-content__text .sub-title {
    font-size: 0.9375rem;
    line-height: 1.5rem;
  }
}
