.search-bar-mobile.absolute {
  position: absolute;
  top: 87%;
}

.search-bar-mobile {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  background: var(--text);
  width: 100%;
  height: auto;
  max-width: 50rem;
  margin: 0 auto;
  padding: 0.625rem;
  box-sizing: border-box;
  border: 0.0625rem solid var(--menu-text);
  border-radius: 0.3125rem;
  font-family: "Tahoma", sans-serif;
}

.selectors {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 0.625rem;
}

.dropdown {
  margin-bottom: 0.625rem;
  padding: 0.625rem;
  font-size: 0.875rem;
  border: 0.0625rem solid var(--menu-text);
  border-radius: 0.25rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--textarea-placeholder);
}

.dropdown:last-child {
  margin-bottom: 0;
}

.search-button-mobile {
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  padding: 0.625rem;
  font-size: 1rem;
  background-color: var(--button-color);
  color: var(--text);
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  width: 5rem;
  flex-shrink: 0;
  height: auto;
  align-self: stretch;
}

@media (max-width: 800px) {
  .search-button-mobile {
    font-family: "Tahoma", sans-serif;
    font-weight: 400;
    padding: 0.625rem;
    font-size: 1rem;
    background-color: var(--button-color);
    color: var(--text);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    width: 5rem;
    flex-shrink: 0;
    height: auto;
    align-self: stretch;
    margin: 0;
  }
}
