.password {
    width: 33.5625rem;
    height: 20rem;
    margin: 0 auto;
    border: 0.0625rem solid var(--menu-text);
    border-radius: 0.625rem;
    font-family: "Tahoma", sans-serif;
    font-weight: 400;
  }
  
  .password-title {
    font-size: 1.5rem;
    padding: 1.875rem 2.375rem .625rem 2.375rem;
  }
  
  .input-field{
      padding: 0.625rem;
      margin-bottom: 10px;
      border: .0625rem solid #ccc;
      border-radius: 1.5625rem;
      outline: none;
      font-size: 1rem;
      width: 100%;
      box-sizing: border-box;
  }
  
  .password-form {
      text-align: center;
      padding:  0.5rem 1.25rem;
      margin: 0;
      width: 33.5625rem;
      height: auto;
    }
    
    .password-form input {
      width: 28.4375rem;
      height: 3.125rem;
      border: 0.0625rem solid var(--menu-text);
      border-radius: 0.625rem;
    }
  
    .save-button {
      width: 13.6875rem;
      height: 3.125rem;
      background: var(--button-color);
      font-size: 1.125rem;
      font-weight: 700;
    }
    
  