.filter {
  background: var(--main-color);
  margin: 0 auto;
  display: none;
  transition: all 0.3s ease-in-out;
}

.filter.visible {
  opacity: 1;
  transform: translateY(0);
  display: block;
}

.sidebar-filter {
  display: flex;
  width: 71.19rem;
  height: 18.96rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.filter-buttons {
  display: flex;
  flex-direction: column;
}

.brand-button {
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: var(--text);
  background: var(--bg-gradient);
  width: 14.44rem;
  height: 6.28rem;
  border: none;
  border-radius: none;
  cursor: pointer;
  position: relative;
}

.brand-button:hover {
  border-radius: 0rem 0rem 0.31rem 0rem;
}

.brand-button.active {
  background: var(--text);
  color: var(--toggle-button);
  font-weight: 700;
}

.brand-button.active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0.5rem;
  background-color: var(--button-color);
}

.sidebar-section {
  margin-bottom: 1.25rem;
  display: flex;
}

.list-top img,
.list-middle img,
.list-bottom img {
  width: 4.06rem;
  height: 3.93rem;
}

.model-list img {
  width: 9.06rem;
  height: 5.73rem;
}

.top-section,
.bottom-section {
  margin-left: 7.55rem;
  margin-top: 2.8rem;
  width: 31.37rem;
  height: 5.73rem;
  display: flex;
  gap: 0.6rem;
}

.list-top {
  margin-top: 1.25rem;
}

.list-middle {
  margin-top: 1.87rem;
  margin-left: 5.55rem;
  display: flex;
  gap: 1.25rem;
}

.list-bottom {
  margin-top: 1.87rem;
}

.list-top,
.list-bottom {
  width: 20.52rem;
  height: 3.52rem;
  display: flex;
  gap: 1.25rem;
  margin-left: 5.55rem;
}

.price-top,
.price-middle,
.price-bottom {
  width: 27.06rem;
  height: 1.37rem;
  display: flex;
  gap: 3.12rem;
}

.horizontal-line {
  border-bottom: 1px solid var(--border);
  width: 50.93rem;
  margin-left: 2.43rem;
  margin-top: 1.56rem;
}

.price-middle,
.price-bottom {
  margin-top: 3.12rem;
}
.price-list {
  margin-top: 4rem;
  margin-left: 11.49rem;
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 1.12rem;
  color: var(--price-text);
}

.brand-list,
.model-list,
.price-list {
  cursor: pointer;
}

button.brand-button {
  margin: 0px;
}
