.form-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 78.75rem;
  width: 100%;
}

.search-panel {
  position: relative;
  font-family: "Tahoma", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.9rem;
  background-color: var(--main-color);
  border: 1px solid #ccc;
  max-width: 78.75rem;
  max-height: 8.1rem;
  border-radius: 0.3rem;
  margin: 0 auto;
  width: 100%;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group label {
  margin-bottom: 0.3rem;
  color: var(--menu-text);
  font-size: 1.1rem;
  font-weight: 400;
}

.input-group select {
  padding: 0.5rem;
  width: 12.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  color: var(--about-text);
  border: none;
}

.btn-search {
  width: 16.1rem;
  height: 5.7rem;
  background-color: var(--button-color);
  border-radius: 0.3rem;
  color: var(--main-color);
  border: none;
  cursor: pointer;
  margin-bottom: 1.25rem;
}

.arrow-icon {
  color: var(--menu-text);
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  margin-right: 0.6rem;
}

.divider {
  height: 5.6rem;
  width: 0.18rem;
  background-color: rgba(225, 225, 225, 0.42);
}

select::-webkit-scrollbar {
  width: 0.375rem;
}

select::-webkit-scrollbar-track {
  background: var(--menu-text);
}

select::-webkit-scrollbar-thumb {
  background: var(--about-text);
}

@media (max-width: 1000px) {
  .form-container {
    display: none;
  }
  .search-panel-mobile {
    display: block;
  }

}
