.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-gradient);
  width: 26.3494rem;
  height: 10.3331rem;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
  z-index: 1000;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.success-title,
.success-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.success-title {
  font-size: 2rem;
  font-weight: 400;
  color: var(--text);
  line-height: 2.9263rem;
}

.success-text1,
.success-text2,
.success-text3 {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--text);
  text-align: center;
}

.close-button {
  float: inline-end;
}
