.testimonial-container {
  max-width: 72.5rem;
  height: 40.93rem;
  width: 100%;
  margin: 0 auto;
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  position: relative;
}

.testimonial-title {
  font-size: 3rem;
  margin-bottom: 3.625rem;
  line-height: 3.62rem;
}

.testimonial-container__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.testimonial-button {
  background: var(--button-color);
  width: 20.125rem;
  height: 3.93rem;
  color: var(--text);
  border-radius: 0.31rem;
  font-weight: 700;
  font-size: 1.125rem;
  border: none;
  cursor: pointer;
}

@media (max-width: 600px) {
  .testimonial-container {
    height: 15.6506rem;
    margin-left: 0;
    margin-right: 0;
  }

  .testimonial-title {
    font-size: 1.7rem;
    margin-bottom: 1.625rem;
    line-height: 1.5088rem;
  }

  .testimonial-container__button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .testimonial-button {
    max-width: 10.5625rem;
    max-height: 2.125rem;
    font-size: 0.75rem;
  }
}
