.user-profile-form {
  width: 54.2188rem;
  height: 38.4375rem;
  border: 0.0537rem solid var(--menu-text);
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  font-family: "Tahoma", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.profile-image {
  width: 12.375rem;
  height: 12.375rem;
  border-radius: 0.3125rem;
  margin-bottom: 1.25rem;
}

.user-profile-form input {
  width: 39.4956rem;
  height: 2.5669rem;
  padding: 0.625rem;
  border: 0.0537rem solid var(--menu-text);
  border-radius: 0.3125rem;
}

.profile-image-placeholder {
  width: 12.375rem;
  height: 12.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  color: #888;
  margin-bottom: 20px;
}

.upload-button {
  cursor: pointer;
}

.password-row {
  display: flex;
  gap: 0.75rem;
}

.password-input input {
  width: 19.345rem;
}

.user-profile-form input::placeholder,
.user-profile-form textarea::placeholder {
  font-size: 0.875rem;
  color: var(--about-text);
  font-weight: 400;
}

.edit-button {
  width: 8.4362rem;
  height: 2.2569rem;
  background-color: var(--button-color);
  color: var(--text);
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-size: 0.875rem;
  margin-top: 1.7rem;
}

.edit-button-container {
  display: flex;
}

.edit-button:hover {
  background-color: darkred;
}
