.shopping-cart-wrapper {
  width: 54.25rem;
  border: 0.0537rem solid var(--menu-text);
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  padding: 1.25rem .625rem;
}

.user-shopping-title {
  display: none;
}

.user-shopping-cart {
  width: 50.3494rem;
  height: 38.4375rem;
  margin: 0 auto;
}

.user-shopping-style {
  width: 51rem;
  margin-bottom: 1.25rem;
}

.user-shopping-style .th-photo {
  width: 8rem;
}

.shopping-cart-container {
  width: 51rem;
  height: 35.445rem;
  overflow-y: auto;
}

.shopping-cart-container::-webkit-scrollbar {
  width: 0.3rem;
}

.shopping-cart-container::-webkit-scrollbar-track {
  background: var(--menu-text);
}

.shopping-cart-container::-webkit-scrollbar-thumb {
  background: var(--about-text);
  border-radius: 0.25rem;
}

.user-shopping img {
  width: 7.9019rem;
  height: 5.59rem;
}

.user-shopping .btn {
  width: 7.29rem;
  height: 2.5775rem;
  font-size: 0.875rem;
}

.cart-card.user-shopping {
  padding: 0.3125rem;
}

@media (max-width: 800px) {
  .user-shopping-title {
    display: block;
  } 

  .order-history-container {
    width: 100%;
    border: none;
    padding: 0;
  }

  .shopping-cart-wrapper {
    border: none;
    width: 100%;
    padding: 0;
  }

  .shopping-cart-container {
    width: 100%;
  }

  .cart-card__mobile {
    margin: 0;
  }

  .cart-card__mobile {
    margin-top: 0.625rem;
  }
}

@media (max-width: 600px) {
  .user-shopping-title {
    display: block;
    font-family: "Tahoma", sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    margin-bottom: 15px;
  } 

  .shopping-cart-wrapper {
    border: none;
    width: 100%;
    padding: 0;
  }

  .shopping-cart-container {
    width: 100%;
  }

  .user-shopping-cart {
    width: 100%;
  }

 
}