.shopping-cart-wrapper {
  width: 54.25rem;
  border: 0.0537rem solid var(--menu-text);
  border-top-right-radius: 0.3125rem;
  border-bottom-right-radius: 0.3125rem;
  padding: 20px 10px;
}

.user-shopping-cart {
  width: 50.3494rem;
  height: 38.4375rem;
  margin: 0 auto;
}

.user-shopping-style {
  width: 51rem;
  margin-bottom: 1.25rem;
}

.user-shopping-style .th-photo {
  width: 8rem;
}

.shopping-cart-container {
  width: 51rem;
  height: 35.445rem;
  overflow-y: auto;
}

.shopping-cart-container::-webkit-scrollbar {
  width: 0.3rem;
}

.shopping-cart-container::-webkit-scrollbar-track {
  background: var(--menu-text);
}

.shopping-cart-container::-webkit-scrollbar-thumb {
  background: var(--about-text);
  border-radius: 0.25rem;
}

.user-shopping img {
  width: 7.9019rem;
  height: 5.59rem;
}

.user-shopping .btn {
  width: 7.29rem;
  height: 2.5775rem;
  font-size: 0.875rem;
}

.cart-card.user-shopping {
  padding: 0.3125rem;
}
