.feature-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tahoma", sans-serif;
  height: 174px;
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .feature-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    grid-gap: 1.2rem;
    margin: 0 auto;
  }

  /* .container {
    padding: 5rem 2.5rem 0 2.5rem;
  } */
}
