.feature-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Tahoma", sans-serif;
  height: 10.875rem;
  max-width: 72.5rem;
  width: 100%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .feature-cards {
    width: 100%;
    flex-wrap: wrap;
    height: auto;
  }
}
