.header-container {
  position: relative;
  width: 1960px;
  height: 915px;
}

.header-background {
  width: 100%;
  height: 100%;
}

.navbar {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--menu-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  max-width: 100%;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-image {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.nav-links {
  flex: 3;
  display: flex;
  margin-left: 133px;
 
  
}

.nav-links.open {
  display: block;
}

.nav-links li {
  margin-bottom: 10px;
  
}

.icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 8px;
}

.icons img {
  margin-left: 10px;
}

.heart {
  width: 29px;
  height: 29px;
}

.cart {
  width: 30px;
  height: 30px;
}

.user {
  width: 38px;
  height: 38px;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.close-icon {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  

  .nav-links {
    display: none;
    
    background-color: #fff;
    color: black;
    padding: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .nav-links.open {
    display: flex; 
    flex-direction: column;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

