@font-face {
  font-family: "Tahoma";
  src: local("Tahoma"), url("./assets/fonts/tahoma.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

:root {
  --footer-color: #89959d;
  --button-color: #d33030;
  --bg-gradient: linear-gradient(#89959d, #babec1);
  --main-color: #ffffff;
  --menu-text: #89959d;
  --text: #ffffff;
  --heading-text: #363636;
  --about-text: #101010;
  --price-text: #000000;
  --border: #6A6A6A;
  --input-placeholder: rgba(255, 255, 255, 0.5);
  --textarea-placeholder: rgba(137, 149, 157, 0.5);
}

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}
