@font-face {
  font-family: "Tahoma";
  src: local("Tahoma"), url("./assets/fonts/tahoma.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  overflow-y: scroll;
  position: relative;
}

.container {
  margin: 0 auto !important;
  padding: 10rem 2.5rem 0 2.5rem;
}

:root {
  --sg-text: rgba(0, 0, 0, 0.25);
  --lg-text: rgba(0, 0, 0, 0.5);
  --bg-card: rgba(137, 149, 157, 0.44);
  --footer-color: #89959d;
  --button-color: #d33030;
  --bg-gradient: linear-gradient(#89959d, #babec1);
  --main-color: #ffffff;
  --menu-text: #89959d;
  --text: #ffffff;
  --heading-text: #363636;
  --about-text: #101010;
  --price-text: #000000;
  --border: #6a6a6a;
  --input-placeholder: rgba(255, 255, 255, 0.5);
  --textarea-placeholder: rgba(137, 149, 157, 0.5);
  --divider: rgba(225, 225, 225, 0.42);
  --bg-image: linear-gradient(to bottom, #ededed 100%, #d2d6db 0%, #9dc0d7 20%);
  --bg-grid: linear-gradient(#9dc0d7, #9f9e9e 20%);
  --grid: #9dc0d7;
  --testimonial: linear-gradient(to right, #9dc0d7 0%, #9dc0d7 80%);
  --toggle-button: #1e1e1e;
}

/* .app {
  max-width: 120rem !important;
  margin: 0 auto !important;
  width: 100%;
} */

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: unset;
}

ul {
  margin: 0;
  list-style: none;
}

@media (max-width: 600px) {
  .container {
    padding: 7rem 2.5rem 0 2.5rem;
  }
  
}

